html {
    box-sizing: border-box;
    font-size: 62.5%; /* set default to 10px */
}
*, *:before, *:after {
    box-sizing: inherit;
}

html, body {
    height: 100%;
}
body {
    background: #f6f6f6; 
    margin: 0;
    font-family: century 'Franklin Gothic Medium';
    font-size: 1.5rem;
    line-height: 1.4;
}
h1, h2, h3 {
    font-family: century 'Franklin Gothic Medium';
    font-weight: 300;
    margin: 0;
}


/* ///////NAME TITLE/////////// */
h1 {
    font-size: 55px;
    line-height: 0.99;
}

/* /////ABOUT INFO//////// */
h2 {
    font-size: 30px;
}



/* ////RESUME TITLE SIZE/////// */
h3 {
    font-size: 22px;
}


/* links */
a {
    color: #000000;
}
a:hover {
    color: #000000;
    text-decoration: none;
}
footer a {
    color: #ffffff;
}
footer a:hover {
    color: #3c8453;
}





/* //////GRREN DOWNLAOD BUTTON */
.btn {
    background: #3c8453;
    color: #f6f6f6;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.2rem;
    display: inline-block;
    padding: 10px;
    letter-spacing: 0.1em;
    line-height: 1;
    border-radius: 4px;
}

.content-wrapper {
    margin: 0 auto;
    padding: 30px;
    max-width: 900px;
}


/* ////// MAIN PAGE///////////// */
.home {
    background: url(/images/greenflowersbg.png) no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
}
.home .content-wrapper {
    flex: 1 0 auto;
}
.content-bg {
    background: rgb(255 255 255 / 0.9);
    padding: 30px;
}
@media screen and (max-width:650px){
    .home .content-wrapper {
        padding: 10px;
    }
    .content-bg {
        padding: 20px;
    }
}


/* /////////RESUME INFO//////////// */
.resume header::before {
    background: url(/images/greenflowersbg.png) center;
    background-size: cover;
    content: "";
    display: block;
    height: 350px;
}
.resume-section {
    margin-bottom: 50px;
}




/* ///////DOWNLOAD BUTTON */
.download-link {
    position: fixed;
    bottom:20px;
    right: 20px;
    font-size: 15px;
    font-style: century gothic;
}






@media screen and (max-width: 300px){
    .download-link {
        position: absolute;
    }
}
@media screen and (max-width: 300px){
    .resume header::before {
        height: 200px;
    }
    h1 {
        font-size: 5rem;
    }
    h2 {
        font-size: 2.6rem;
    }
}










/* //////WORK */

.work-item {
    margin: 50px 0;
}
.work-details p {
    margin: 0;
}

@media screen and (min-width: 860px) {
    .work-item {
        display: grid;
        grid-template-columns: 300px 1fr;
        column-gap: 20px;
    }
    .work-summary p:first-child {
        margin-top: 0;
    }
}







/* //////EDUCATION */

.education-item {
    margin: 30px 0;
}
.education-item p {
    margin: 0;
}




/* //////FOOTER////// */

footer {
    /* background: #222222; */
    color: #d3d4d6;
}


@media screen and (min-width: 860px){
    footer {
        display: flex;
        justify-content: space-between;
        padding: 0 20px;
    }
}
@media screen and (max-width: 859px){
    footer {
        text-align: center;
        padding: 10px;
    }

}